.listDocs {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.docName {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listFiles {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
}

.containerFileImageName {
  display: flex;
  gap: 5px;
  align-items: center;
}

.fileImage {
  width: 20px;
  height: 20px;
  background-image: url(@/assets/docIcon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.fileName {
  margin: 0;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  height: max-content;
  width: max-content;
  align-self: flex-end;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.containerFile {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}