.contentBlock {
  display: flex;
}

.content {
  width: 73%;
  padding: 2.5rem;
  padding-top: 50px;
}

.content__title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-left: 10px;
  text-align: left;
}

.content__documentList {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1000px) {
  .content {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}