.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 31, 83, 0.089);
}

.modal__close {
  position: absolute;
  width: 2rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.8;
}

.modal__document {
  display: flex;
  max-width: 80%;
  padding: 0.8rem 1.3rem;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(248, 248, 248, 0.87);
}
.document_header {
  display: flex;
  justify-content: space-between;
}
.fileName {
  margin: 0.5rem 0 0 1rem;
}
.fileControler {
  display: flex;
  column-gap: 0.4rem;
  margin: 0 1rem 0.4rem 0;
}
.fileControler button {
  border-radius: 40%;
  border: none;
  height: 1.5rem;
  width: 1.9rem;
  cursor: pointer;

  background-color: rgb(224, 224, 224);
}
.fileControler button:hover {
  transition: 0.2s;
  opacity: 0.7;
}

.modal__document img {
  display: block;
  max-height: 80vh;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
  overflow: hidden;
}

.documentInfo {
  margin: 1.7rem 0 1.3rem 1.3rem;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  border-radius: 10px;
  background-color: white;
}
.imageContainer {
  text-align: center;
}
.dotContainer {
  text-align: center;
  padding-top: 0.2rem;
}
.dot {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgb(206, 206, 206);
  border-radius: 50%;
  margin: 0 0.2rem;
  cursor: pointer;
}
.dot.active {
  background-color: rgb(145, 145, 145);
}

.dataList__img {
  width: 1.5rem;
  height: 1.5rem;
}

.dataList__controls {
  margin-top: 2rem;
  padding: 4px;
  font-size: 1.2rem;
  background-color: rgb(224, 224, 224);
  display: inline-flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dataList__controls:hover {
  opacity: 0.75;
}

.dataList__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.vote {
  text-align: center;
}

.vote__button {
  font-size: 1rem;
  background-color: rgb(224, 224, 224);
  border: none;
  margin-top: 2rem;
  padding: 7px 10px 7px 10px;
  transition: all 0.2s ease;
}

.vote__button:hover {
  opacity: 0.75;
}

.title {
  margin-bottom: 10px;
}

.voteButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.voteButton {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.voteButton.choice {
  background-color: rgb(224, 224, 224); 
}


.voteButton.active {
  background-color: #800080; /* Фиолетовый цвет для активной кнопки */
}

.voteButton:disabled {
  background-color: white; 
}